[color]
	ui = auto
[user]
	name = Sam Pohlenz
	email = sam@sampohlenz.com
[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = /Users/sam/.gitignore
	editor = mate -w
[push]
	default = upstream
